/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}

h1, h2 {
    color: #191919;
    margin-bottom: 20px;
}

p {
    color: #777;
    margin-bottom: 20px;
    font-size: 18px;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Button styles */
button {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.btn-primary {
    background-color: #040b32;
    color: white;
}

.btn-primary:hover {
    background-color: #333;
}

.btn-secondary {
    background-color: #95a5a6;
    color: white;
}

.btn-secondary:hover {
    background-color: #7f8c8d;
}

/* Input styles */
input[type="number"] {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
}

/* Card styles */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.card-body {
    padding: 10px 20px;
}

/* Flexbox utility classes */
.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Centered text */
.centered-text {
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin: 20px 0;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1, h2 {
        font-size: 24px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}
